{% extends 'layouts/base.html.twig' %}

{% block title 'Find all the best pins on Earth !' %}

{% block body %}
    {% if pins|length >0  %}
        <h1 class=" mb-4 text-center text-muted">{{pluralize(pins|length,'Pin')}} </h1>

        {% for pin in pins %}
            <article>
                <img src="{{ vich_uploader_asset(pin) }}" alt="{{ pin.name }}" />
                <h2><a href="{{path('app_pins_show', {id:pin.id})}}">{{pin.title}}</a></h2><br/>
                <p>{{pin.description | u.truncate(10,'...',false)}}</p>
                <p>Soumis  {{pin.createdAt |ago}}</p>
            </article>
        {% endfor %}
    {% else %}
        <p class="mt-5 h2 text-center">Pas de pin actuellement ! <a href="{{path('app_pins_create')}}">Soyez le premier à en créer un !</a></p>
    {% endif %}


{% endblock %}
